<!DOCTYPE HTML>
<html lang="en">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block title %}
    {% if title %}
        <title>{{title}} | Price Master</title>
    {% else %}
        <title>Prices</title>
    {% endif %}
{% endblock title %}

{% block head %}

{% endblock head %}

</head>

<body>

{% if not next %}
    {% url 'web:pageIndex' as next %}
{% endif %}

<div class="container-fluid">

    <!-- NAVIGATION BAR -->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex justify-content-between px-5 mx-auto" style="width: 80%;">
            <span class="navbar-text text-white">سامانه جمع آوری قیمت بازار</span>
            <ul class="navbar-nav mr-auto">

                {% if user.is_authenticated %}

                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'logout' %}?next={{next}}">خروج</a>
                </li>
           <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'web:pageIndex' %}">برندها</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'web:templateImport' %}" target="_blank">ورود قیمت</a>
                </li>

                {% else %}

                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'login' %}?next={{next}}">ورود</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- END OF NAVIGATION BAR -->

</div>

{% block content %}



{% endblock content %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>